@charset "UTF-8";


div{
	border: solid 1px red;
	margin: 2px;
	background-color: gray;
	
}

span{
	border: solid 1px orange;
}

.s2{
	display: block;
	width: 1000px;
	height: 1200px;
}

.s3{
	display: inline-block;
}

.s2{
	display: inline;
	width: 1000px;
	height: 1200px;
}

.s4{
	display:none;
	
}

.d1{
	display: inline;
	width: 200px;
	widows: 200px
}

.d2{
	display: block;
	width: 200px;
	widows: 200px
}