

@charset "UTF-8";
/* 전체 설정 */
*{padding: 0px; margin: 0px; font-family: "맑은 고딕";}

/* a태그 초기설정 */
a{color: black; text-decoration: none;}



/* 글머리 제거 */
li{list-style-type: none;} 



/*본문시작*/
#content{
	width:1200px; height: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#상단컨텐츠{
	display: flex;
	flex-direction:row;
	justify-content: flex-start; 
	flex-direction: column;
}

.큰글자{
	font-size: 20px ;
	font-weight: 5px;
	
}

.작은글자{
	font-size: 15px;
	font-weight: 3px;
}

#하단컨텐츠{
	
	background-color: #F9F9F9;
	display: flex;
}

.box1{
	flex-direction: row;
	justify-content: space-between;
}


