@charset "UTF-8";


.box{
	border: 2px solid red;
	padding: 50px;

	display: block;
	margin: 0px auto;
}

.content{
	font-size: 15px;
	padding: 0px;
	margin: 20px;
	
	
}

.num{
	color: yellow;
}

.box2{
	border: 2px solid red;
	padding: 50px;
	display: block;
	margin: 0px auto;
}

	
